{% extends 'base.html' %} {% block content %}
<center>
  {% if admin %}
  <form action="/addVideo/" method="POST">
    {% csrf_token %} Enter video url to add
    <input name="movieUrl" />
    <button type="submit" class="btn btn-success">Add Video</button>
    <p>{{urlError}}</p>
  </form>
  {% endif %}


  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


  <table class="table table-dark">
    <thead>
      <tr>
        <th>
          #
        </th>
        <th>Movie Name</th>
        {% if admin %}
        <th></th>
        <th></th>
        {% endif %}
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for key,videoName in videos.items %}
      <tr>
        <th>{{forloop.counter}}</th>
        <th>{{videoName}}</th>
        {% if admin %}
        <th>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Edit Title
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <form action="/editTitle/{{key}}/" method="POST">
                {% csrf_token %}
                New Title: <input name="newTitle" />
                <center>
                  <button class="btn btn-dark" id="e" +{{key}} type="submit">
                    Set Title
                  </button>
                </center>
              </form>
            </div>
          </div>
        <th>
          <form action="/delete/{{key}}/" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger" id="d" +{{key}} type="submit">
              Delete Movie
            </button>
          </form>
        </th>
        </th>
        {% endif %}
        <th>
          <form action="/movie/{{key}}/" method="POST">
            {% csrf_token %}
            <button class="btn btn-warning" id="m" +{{key}} type="submit">
              Stream Online
            </button>
          </form>
        </th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</center>
{% endblock %}
